@import "../../assets/quasar/variables"

#app
  width: 100vw
  height: 100vh
  box-sizing: border-box

.body
  &--light
    background-color: #eeeeeeff !important

  &--dark
    background-color: #151515 !important

.banner
  background: linear-gradient(98deg, $secondary 0%, $primary 100%)