@import "../../assets/quasar/variables"

#app
  width: 100vw
  height: 100vh
  box-sizing: border-box

.body
  &--light
    background-color: #eeeeeeff !important

  &--dark
    background-color: #151515 !important

.banner
  background: rgb(255, 174, 0)
  background: linear-gradient(90deg, rgba(255, 174, 0, 1) 54%, rgba(249, 232, 102, 1) 90%)